* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-general: 'Roboto Condensed', sans-serif;
  --fs-title: clamp(2.0rem, 2.0rem + 1vw, 3.0rem);
  --fs-subtitle: clamp(1.2rem, 1.0rem + 1vw, 1.8rem);
  --fs-footer: 1.1rem;
  --fc-greetingMsg: #F5F5F5;
  --fc-footer: #6F6F6F;

  --bg-buttons: #D9D9D9;
  --bg-emailButtonHover: linear-gradient(45deg, #FD7F7C 1.56%, #C23F34 100%);
  --bg-linkedinButtonHover: linear-gradient(45deg, #78CCFC 0%, #0077B7 100%);
  --bg-githubButtonHover: linear-gradient(45deg, #835BFA 0%, #B758FF 100%);
  --bg-dressCodeButtonHover: linear-gradient(45deg, #a9a9b8 0%, #57535a 100%);
  --bg-personalInstagram-buttonHover: linear-gradient(255.69deg, #A536B4 3.51%, #CC3189 37.75%, #E03368 56.38%, #F97E2A 85.86%);

}

body {
  font-family: var(--ff-general);
  background: linear-gradient(100deg, #000000 0%, #043b3b 100%);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  display: grid;
  justify-items: center;
  align-content: flex-start;
  padding-top: 5.0rem;
  height: 100vh;
}

.page {
  width: clamp(20.0rem, 20.0rem + 20vw, 30.0rem);
  padding: 0rem 1.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  color: var(--fc-greetingMsg);
}

header img {
  width: clamp(8.6rem, 8.0rem + 5vw, 12.0rem);
  border-radius: 50%;
}

.greeting-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.greeting-msg h1 {
  font-weight: 500;
  font-size: var(--fs-title);
}

.greeting-msg p {
  font-weight: 500;
  font-size: var(--fs-subtitle)
}

main {
  margin-top: 3.0rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.route-buttons {
  display: flex;
  flex-direction: column;
  gap: 2.0rem;
  width: 100%;
}

button {
  background-color: var(--bg-buttons);
  border: none;
  padding: 1.0rem 5.0rem;
  border-radius: 2.2rem;
  cursor: pointer;
  width: 100%;
  height: 5.0rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#email-button:hover {
  background: var(--bg-emailButtonHover);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

#linkedin-button:hover {
  background: var(--bg-linkedinButtonHover);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

#github-button:hover {
  background: var(--bg-githubButtonHover);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

#personalInstagram-button:hover, #devInstagram-button:hover {
  background: var(--bg-personalInstagram-buttonHover);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

#skoob-button:hover {
  background: var(--bg-linkedinButtonHover);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

#dressCode-button:hover {
  background: var(--bg-dressCodeButtonHover);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

#dressCode-button img {
  width: 20.0rem;
}

footer {
  display: flex;
  justify-content: end;
  padding: 5.0rem 0 2.0rem 0;
  color: var(--fc-footer);
}

footer img {
  width: 7.0rem;
}

a {
  text-decoration: none;
  color: var(--fc-footer);
}
/* Animations */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}